
backend/utils/privilegies-utils/target/maven-status/maven-compiler-plugin/compile/default-compile/

backend/\.idea/

.idea/

backend/utils/pattern-utils/target/

backend/utils/privilegies-utils/target/

**/node_modules/**
frontend/admin/sources/node_modules
frontend/admin/sources/dist/b2b
