<form class="form-login">
  <a class="form-login-main-logo" href="../../../../assets/i/png/supberry-main-logo.jpg"></a>
  <div class="form-login-content">
    <h2>Вход</h2>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Логин" [(ngModel)]="login" name="login" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Пароль" [(ngModel)]="password" type="password" name="password" required>
    </mat-form-field>

    <div class="form-button">
      <button mat-raised-button (click)="signIn()" color="primary">Войти</button>
      <button mat-raised-button (click)="registry()" color="primary">Перейти на страницу регистрации</button>
      <button mat-raised-button (click)="a()" color="primary">Регион</button>
      <button mat-raised-button (click)="b()" color="primary">Район</button>
      <button mat-raised-button (click)="c()" color="primary">Город</button>
      <button mat-raised-button (click)="d()" color="primary">улица</button>
      <button mat-raised-button (click)="e()" color="primary">С</button>   
    </div>
  </div>
</form>