<form class="form-login">
  <a class="form-login-main-logo" href="../../../../assets/i/png/supberry-main-logo.jpg"></a>
  <div class="form-login-content">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Логин" [(ngModel)]="account.login" name="login" required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Пароль" [(ngModel)]="account.password" type="password" name="password" required>
    </mat-form-field>

    <div class="form-login-button">
      <button mat-raised-button (click)="signIn()" color="primary">Войти</button>
      <button mat-raised-button (click)="registry()" color="primary">Перейти на страницу регистрации</button>
    </div>
  </div>
</form>