/**
  ПК версия
**/
@media screen and (min-width: 1024px) {
  .login-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    width: 350px;
  }

  .form-login-content {
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .form-login-main-logo {
    width: 60%;
    height: 100%;
    background: url("../../../../assets/i/png/supberry-main-logo.jpg") no-repeat;
    background-size: cover;
    padding: 0px 0px 0px 0px;
    pointer-events: none;
  }

  .form-login {
    display: flex;
    flex-wrap: wrap;
    width: 40%;
    height: 40%;
    margin: 100px auto auto auto;
    position: initial;
    justify-content: center;
  }

  .form-login-content h2 {
    text-align: center;
  }
}
