@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme(
  $candy-app-primary,
  $candy-app-accent,
  $candy-app-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  background-color: white;
}

.app-root {
  display: contents;
  margin: 0px;
  width: 100%;
  height: 100%;
  padding: 0px;
}

.main-page {
  overflow: hidden;
  height: 100%;
  width: 100%;
  display: inline-table;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 35px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.example-container {
  width: 100%;
  height: 100%;
  //border: 1pxsolid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 0px;
}

.main-menu-caption {
  min-width: 300px;
}

.display-none {
  display: none;
}


.mat-drawer-container {
  /*position: relative;
  z-index: 1;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  display: block;
  overflow: hidden;*/
  width: 100%;
  height: 100%;
}

.mat-drawer-content {
  padding: 0px;
  background-color: white;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: transform, margin-left, margin-right;
}

.mat-sidenav {
  min-width: 400px;
}

// ag-grid setting
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

// stepper settings
.step-form {
  height: 450px;
}

.step-form {
  max-width: 100%;
}

.step-form-1-2 {
  width: 70%;
  margin: auto;
}

// components main form
.form-content {
  display: contents;
}

.form-content h2 {
  text-align: center;
}

.form-button-block {
  width: fit-content;
  flex-direction: column;
  margin: auto;
  display: flex;
  min-height: 80px;
  justify-content: space-between;
}

.form-button {
  width: auto;
  margin: 10px 0px;
}

.form-field {
  flex-wrap: wrap;
  /* margin: 0 5% 0 5%; */
  display: flex;
  position: relative;
  text-align: left;
  flex: 1;
  justify-content: center;
  /* min-width: 35%; */
  /* max-width: 35%; */
  width: 250px;
  height: 60px;
  margin: auto;
}
