<form [formGroup]="addressGroup"  class="form-step">
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Регион" aria-label="Регион" [matAutocomplete]="autoRegion" [formControl]="regionCtrl" (ngModelChange)="loadRegion($event)">
    <mat-autocomplete #autoRegion="matAutocomplete" >
      <mat-option *ngFor="let region of (filteredRegionList | async)" [value]="region.name">
        <span>{{region.name}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Город, нас. пункт" aria-label="Город, нас. пункт" [matAutocomplete]="autoCity" [formControl]="cityCtrl" (ngModelChange)="loadCity($event)">
    <mat-autocomplete #autoCity="matAutocomplete">
      <mat-option *ngFor="let city of filteredCityList | async" [value]="city.name">
        <span>{{city.name}}</span> |
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Улица" aria-label="Улица" [matAutocomplete]="autoStreet" [formControl]="streetCtrl" (ngModelChange)="loadStreet($event)">
    <mat-autocomplete #autoStreet="matAutocomplete">
      <mat-option *ngFor="let street of filteredStreetList | async" [value]="street.name">
        <span>{{street.name}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Корпус" aria-label="Корпус" [matAutocomplete]="autoBuilding" [formControl]="buildingCtrl" (ngModelChange)="loadBuilding($event)">
    <mat-autocomplete #autoBuilding="matAutocomplete">
      <mat-option *ngFor="let building of filteredBuildingList | async" [value]="building.name">
        <span>{{building.name}}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput formControlName="apartment" placeholder="Квартира" name="apartment">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput formControlName="zip" placeholder="Индекс" name="zip" required>
  </mat-form-field>

</form>