.main {
  width: 100%;
  height: 100%;
}

.header {
  height: 7%;
  display: contents;
}

footer {
  display: table-row;
  height: 3%;
  text-align: center;
  border: 1px solid lightgray;
}

.form,
.content,
.experimental,
app-login {
  width: 100%;
  height: 100%;
}

.experimental,
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form,
app-login {
  display: flex;
}

.content > * {
  display: inherit;
}
