.main,
.content {
  position: fixed;
  width: 100%;
  height: 90%;
}

.header {
  position: fixed;
  height: 10%;
  display: contents;
}


.form,
.experimental {
  width: 100%;
  height: 100%;
}

.experimental,
.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form {
  display: flex;
}

.content > * {
  display: inherit;
}
