<div class="main-page">
    <div class="header">
        <router-outlet name="headerOutlet"></router-outlet>
    </div>
    <div class="main">
        <router-outlet class="experimental"></router-outlet>
        <mat-sidenav-container class="example-container">
            <mat-sidenav #sidenav class="example-sidenav">
                <p class="main-menu-caption">Main menu</p>
            </mat-sidenav>
            <mat-sidenav-content>
                <router-outlet name="content"></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
    <div class="footer">
        <router-outlet name="footerOutlet"></router-outlet>
    </div>
</div>